.page-heading {
    margin-bottom: 50px;
}

.about-container {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    gap: 50px;
    margin: auto 20px;
}

.about-text-container {
    text-align: left;
    max-width: 500px;
    margin: auto;
}

.about-text-container h2 {
    margin-bottom: 8px;
}

.about-img-container {
    margin-top: 60px;
    padding-bottom: 50px;
}

#about_image {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
}